.cards {
    transition: box-shadow .25s;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
}
.cards-img-top {

    transition: box-shadow .25s;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.16);
}

.cards-text {
    text-align: left;
    padding: 20px 20px;
}
.fa {
    margin-left: 35px;
    color: #5d5f63;
}
 .error-message {
    font-size: 17px;
}