.cards {
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    text-align: center;
    margin-top: 20px;
}
.cards .card-image img {
    margin: 30px;
}
.cards .card-content {
    margin: 30px;
}
