.choise,
.menu {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.menu,
.choise h1,
h3 {
    font-weight: bold;
}

.choise h3,
img {
    margin-top: 2rem;
}

.navbar {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    background-color: #ce94a3;
}

.choise {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 2rem;
}

.choise h1,
h3 {
    font-weight: bold;
}

.choise h3,
img {
    margin-top: 10px;
}


/*Main Slider */

#wrapper {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}

.imgslide {
    border-radius: 5px;
    height: 450px;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    #wrapper {
        width: 700px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 414px) {
    #wrapper {
        width: 315px;
        margin: 0 auto;
    }
    .imgslide {
        height: 200px;
        width: 100%;
    }
}


/*Main Slider */


/*Reviews*/

.container-main {
    margin-bottom: 20px;
}

.text h1 {
    text-align: center;
}

.card {
    margin-top: 50px;
}

.card img {
    margin-top: -50px;
}

.card h4 {
    text-align: center;
}

.card p {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    padding: 0px 10px 0px 10px;
}

@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
        z-index: 0;
    }
}

.prev {
    width: 20px;
    margin-left: -5px;
    color: black;
}

.next {
    width: 20px;
    margin-right: -5px;
}

.previous-cards {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.previous-cards:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.next-cards {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.next-cards:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}


/*Reviews*/
