body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    font-size: 1.5rem;
}

.header {
    text-align: center;
    font-weight: bold;
    background-color: #e9e8e6;
}

.header img {
    margin-top: 0;
    padding-top: 0;
}

.menu {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
}
.fas {
    font-size: 25px;
    color: #ce94a3;
}
.navbar {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    background-color: #ce94a3;
}

.footer {
    text-align: center;
    font-weight: bold;
    background-color: #e9e8e6;
}
.footer .fas{
    margin-top: 35px;
}
span {
    color: #5d5f63;
}
@media only screen and (max-width: 767px) {
    .footer .emblem {
        display: none;
    }
}